[submodule "blackin-tech"]
	path = blackin-tech
	url = https://github.com/upovibe/blackin-tech.git
[submodule "upoconnect"]
	path = upoconnect
	url = https://github.com/upovibe/upoconnect.git
[submodule "CHAT-UP"]
	path = CHAT-UP
	url = https://github.com/upovibe/CHAT-UP.git
